

<div class="row">
    <div class="col-md-4" *ngFor="let task of privateTasks">
        <div class="card">
            <div class="card-body">
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <img [src]="task.image" alt="" height="95px">
            
            </div>
            
      
            <div class="card-footer">
            </div>
        </div>
    </div>
    
</div>

<div>
    <form method="post">
        <br>
          <h1> Sube tu libro</h1>
        
          <input class="txt" type="text" [(ngModel)]="formApps.title" name="title" placeholder="Nombre">
          <br><br>
        
          <input class="txt" type="text" [(ngModel)]="formApps.description" name="description" placeholder="Date">
          <br><br>
          <input class="txt" type="number" [(ngModel)]="formApps.price" name="price" placeholder="Date">
          <br><br>
        
    
          <input class="txt" type="text" [(ngModel)]="formApps.image" name="image" placeholder="image">
          <br>
          <button (click)="crearEscudo()"> Crear Escudo </button>
      
        
            </form>
</div>